<!-- În Storeapp/templates/cart.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Your Shopping Cart</h1>
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>{{ item.product.name }} - Quantity: {{ item.quantity }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your shopping cart is empty.</p>
    {% endif %}

    <a href="{% url 'storeapp' %}">Continue Shopping</a>
</body>
</html>
